.obox{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 25%;
  padding: 1rem;
  margin: 2rem 0rem 4rem 0rem;
  filter: drop-shadow(0px 0px 15px #000000);
}
.obox2 {
  background-color: white;
  border: 2px solid #265073; 
  border-radius: 5px;
  height: 300px;
  width: 600px;
  margin: 1rem;
}
#nhold{
  background-color: white;
  height: 680px;
  width: 100%;
}
.shold{
  height: 100%;
  max-height: 550px;
  width: 100%;
  max-width: 545px;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.line {
    display: inline-block; 
    height: 2px;           
    width: 490px;            
    background-color: white; 
}
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 46px;
  gap: 5rem;
  position: absolute;
  top: 0;
  right: 125%; 
  background-color: #077A83;
  z-index: 1;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.Ibuttons{
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 10px;   
  background-color: #077A83;
  color: white;
  cursor: pointer;
  
}
.Ibuttons:hover{
  background-color: white;
  border: 2px solid #9AD0C2;
  color: #000000;
  transition: 0.5s;
}
.homePhone{
  display: none;
}
footer{
  margin-top: 5rem;
}
.Oportunidadcaja{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #077A83;
  border-radius:1rem;
  padding: 1rem;
  width: 80%;
  gap: 1rem;
  height: 25%;
  max-height: 25%;
  overflow-y: scroll;
}